front/airang/.vsconfig_bk
front/airang/Assets/Resources/Prefabs/BookPrefab_backup.prefab
front/airang/Assets/Resources/Prefabs/BookPrefab_backup.prefab.meta
front/airang-react/frontend/node_modules/

## Backend - ai #######
back/ai/api/K7B305T.pem
back/ai/api/__pycache__
*.idea/
*.pyc
*.ipynb_checkpoints/
